saved_paths/*
__pycache__
*.png
*.mp4
*.out
car_models/saved_paths/
*batches*/
*weights/
saved_plots/
saved_images/
gradients/
predictions/
logs/
data/paths/*
data/saved/
classifiers/training_history/*.json
*.out
